{% extends "base.html" %}
{%- block topbar -%}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Меню <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/home/1">Rain Barber</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a href="/home/1">Головна</a>
                  </li>
                  <li>
                      <a href="/about">Про мене</a>
                  </li>
                  <li>
                      <a href="/portfolio">Портфоліо</a>
                  </li>
                  <li>
                      <a href="/contact/">Контакти</a>
                  </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>Contact Me</h1>
                        <hr class="small">
                        <span class="subheading">Have questions? I have answers (maybe).</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Contact Start</h2>
            <p>Feel free to email</p>
            <p><a href="mailto:joebereza@gmail.com">joebereza@gmail.com</a>
            </p>
            <ul class="list-inline banner-social-buttons">
                <li>
                    <a target="_blank" href="https://www.instagram.com/barber.olgarain/" class="btn btn-default btn-lg"><i class="fa fa-instagram fa-fw"></i> <span class="network-name">Instagram</span></a>
                </li>
                <li>
                    <a target="_blank" href="https://www.facebook.com/Rain5157" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                </li>
                <li>
                    <a target="_blank" href="https://vk.com/rivnebarbershop" class="btn btn-default btn-lg"><i class="fa fa-vk fa-fw"></i> <span class="network-name">VK</span></a>
                </li>
            </ul>
        </div>
    </div>
{%- endblock -%}
