<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Рівне,стрижки, корекція бороди, гоління.">
    <meta name="author" content="Triang">

    <title>Barber shop</title>
    <link rel="icon" href="//d2f0ora2gkri0g.cloudfront.net/bkpam2237445_1ve-1737.ico" type="image/x-icon" />
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="/static/css/gallery.css">
    <link href= "/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link  href="/static/css/clean-blog.min.css" rel="stylesheet" >
    <link rel="stylesheet" type="text/css" href="/static/css/clean-blog.css" >
    <!-- Custom Fonts -->
    <link  href="/static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--    <script type="text/javascript" src="jquery-1.10.2.js"></script> -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    {%- block topbar -%}
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Меню <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/home/1">Rain Barber</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/home/1">Головна</a>
                    </li>
                    <li>
                        <a href="/about">Про мене</a>
                    </li>
                    <li>
                        <a href="/portfolio">Портфоліо</a>
                    </li>
                    <li>
                        <a href="/contact/">Контакти</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                              <div class="portfolio-logo"></div>
                        <hr class="small">
                        <span class="subheading">шонебудьпрострижки</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    {%- endblock -%}
<!-- Page Content -->
<div class="container">
    <!-- Page Header -->
    <div class="port_row">
        <div class="col-lg-12">
            <h1 class="page-header">Page Heading
                <small>Secondary Text</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <section class="carousel-container">
  		<img src="/static/images/example-work01.jpg" alt="" class="current-image">
  		<span class="arrow arrow-left"> ◀ </span>
  		<ul class="next-list">
  			<li><img src="/static/images/example-work01.jpg" alt="" class="image-of-list current-image-list"></li>
  			<li><img src="/static/images/example-work01.jpg" alt="" class="image-of-list"></li>
  			<li><img src="/static/images/example-work01.jpg" alt="" class="image-of-list"></li>
  			<li><img src="/static/images/example-work01.jpg" alt="" class="image-of-list"></li>
  			<li><img src="/static/images/example-work01.jpg" alt="" class="image-of-list"></li>
  			<li><img src="/static/images/example-work01.jpg" alt="" class="image-of-list"></li>
  			<li><img src="/static/images/example-work01.jpg" alt="" class="image-of-list"></li>
  		</ul>
  		<span class="arrow arrow-right"> ▶ </span>
  	</section>

    <!-- Projects Row -->
    <!--
    <div class="port_row">
        <div class="col-md-6 portfolio-item">
            <a href="/static/images/example-work01.jpg" >
                <img class="img-responsive" src="/static/images/example-work01.jpg">
            </a>
            <h3>
                <a href="#">Project One</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="/static/images/example-work02.jpg">
                <img class="img-responsive" src="/static/images/example-work02.jpg" alt="work_done">
            </a>
            <h3>
                <a href="#">Project Two</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>-->
    <!-- /.row -->

    <!-- Projects Row -->
    <!--
    <div class="port_row">
        <div class="col-md-6 portfolio-item">
            <a href="/static/images/example-work03.jpg">
                <img class="img-responsive" src="/static/images/example-work03.jpg" alt="work_done">
            </a>
            <h3>
                <a href="#">Project Three</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="/static/images/example-work04.jpg">
                <img class="img-responsive" src="/static/images/example-work04.jpg" alt="work_done">
            </a>
            <h3>
                <a href="#">Project Four</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>
    -->

    <!-- Projects Row -->
    <!--
    <div class="port_row">
        <div class="col-md-6 portfolio-item">
            <a href="/static/images/example-work05.jpg">
                <img class="img-responsive" src="/static/images/example-work05.jpg" alt="work_done">
            </a>
            <h3>
                <a href="#">Project Five</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
        <div class="col-md-6 portfolio-item">
            <a href="/static/images/example-work06.jpg">
                <img class="img-responsive" src="/static/images/example-work06.jpg" alt="work_done">
            </a>
            <h3>
                <a href="#">Project Six</a>
            </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae.</p>
        </div>
    </div>-->
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a target="_blank" href="https://vk.com/rivnebarbershop">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-vk fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.facebook.com/Rain5157">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.instagram.com/barber.olgarain/">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; Rain Barber 2017</p>
                </div>
            </div>
        </div>
</div>
<hr>
    </footer>
{% block js_footer %}

</script>
    <script src="/static/js/gallery.js"></script>
    <!-- jQuery -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="/static/js/clean-blog.min.js"></script>

{% endblock %}
</body>

</html>
